* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background: var(--body-bg);
  padding: 2rem;
  min-height: 100vh;
  color: var( --text-color);
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}


#dashboard.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  #dashboard.grid {
    display: block;
  }
}


.widget {
  background: var(--widget-bg);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: var(--shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
  min-width: 0;
}

.widget:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-hover);
}

/* Grid systém pro šířku widgetů */
.widget.full {
  grid-column: 1 / -1;
  opacity: 50%; /* Celá šířka - 12 sloupců */
}

.widget.half {
  grid-column: span 6; /* Polovina šířky - 6 sloupců */
}

.widget.third {
  grid-column: span 3; /* Polovina šířky - 6 sloupců */
}