:root{
    --body-bg: #e4e4cd;
    --widget-bg: #ffffff;
    --text-color: #333333;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 0, 0, 0.15);
    --primary-color: #8b82f6;
    --primary-color-text: #ffffff;
}